* {
  box-sizing: border-box
}


.nav {
  background-color: gray;
  height: 150px;
  padding: 30px
}

.navColor {
  color: white
}

.content {
  background-color: aquamarine;
  padding: 20px;
  height: auto;
}

.categories {
  padding: 20px 40px 10px 40px;
  text-align: center;
}

.category {
  padding: 20px;
  background-color: grey;
  color: white;
  width: 80px;
  height: 30px;
  margin: 40px;
  cursor: pointer;
  text-align: center
}

.all {
  text-align: center;
  margin: 20px
}

.showAll {
  border: none;
  background-color: none;
  cursor: pointer
}

.select {
  text-align: center;
  margin: 30px
}

.select-item {
  width: 200px
}

.comment-section {
  align-content: center;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  flex-wrap: wrap;
  
}

.comment {
  background-color: white;
  padding: 20px;
  width: 40%;
  margin: 20px 20px 30px 40px;
  margin: 60px;
  height: auto;
}

.comment-link {
  text-decoration: none;
}


.ed {
  float: right;
  background-color: white;
  border: 0
}

.thumbs {
  background-color: white;
  border: 0
}

.no {
  float: right;
}


.holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.input {
  display: block;
  width: 500px;
  margin-bottom: 5px;
  padding: 4px
}

.submit {
  display: block;
  width: 500px;
  padding: 4px;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.backHome {
  color: blue;
  display: block;
  margin: 60px;
  font-size: 30px;
  text-decoration: none
}

.newPost {
  margin-bottom: 30px
}

.comment-head {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  
}

.comment-sect {
  margin-bottom: -30px;
}

.lead-post {
  background-color: white;
  padding: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

@media screen and (max-width: 1400px) {
  

  .comment-section {
    align-content: center;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
  }
  

  .comment-sect {
    margin-bottom: 0px;
  }
  .comment {
    background-color: white;
    width: 40%;
    margin: 30px;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  
  .comment {
    width: 80%;
  }

  .comment-sect {
    margin-bottom: 0px;
  }

  .comment-head {
    margin-left: 30px;
  }

  .lead-post {
    width: 70%
  }

  .input {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding: 4px
  }
  
  .submit {
    width: 400px;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
  }
  
}

@media screen and (max-width: 680px) {

  .category {
    margin: 20px
  }

  .comment-sect {
    margin-bottom: 0px;
  }

  .categories {
    padding: 20px 20px 10px 20px;
    text-align: center;
  }
}

@media screen and (max-width: 520px) {
    .categories {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .category {
      width: 140px;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center
    }
}

@media screen and (max-width: 490px) {
  .input {
    width: 350px;
  }
  
  .submit {
    width: 350px;
  }
}

@media screen and (max-width: 400px) {
  .input {
    width: 300px;
  }
  
  .submit {
    width: 300px;
  }
}
